</table>
</td>
</tr>

<tr class="footer" width="100%">
<td>
  <table style="margin-top: 20px; margin-bottom: 20px">
    <tr class="two-columns">
      <td class="column">
        <p class="text" style="font-size: 2rem; text-align: left">
          Download the App
        </p>
        <p class="text" style="text-align: left">
          Get our mobile app on any device you use on the App Store or
          Google Playstore
        </p>
        <table style="text-align: center">
          <tr style="text-align: center">
            <td>
              <a href="https://apps.apple.com/us/app/pcn-ticket/id6738150496">
                <img
                  width="156"
                  height="48"
                  src="https://pcnticket1.s3.us-east-1.amazonaws.com/app_store.png"
                />
              </a>
            </td>

            <td>
              <a href="https://play.google.com/store/apps/details?id=com.sprinttech.pcn&pli=1">
                <img
                  width="156"
                  height="48"
                  src="https://pcnticket1.s3.us-east-1.amazonaws.com/google_play.png"
                />
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td class="column">
        <img
          width="50%"
          src="https://pcnticket1.s3.us-east-1.amazonaws.com/email/download_makeup.png"
          style="max-width: 400px; width: 100%"
        />
      </td>
    </tr>
  </table>
</td>
</tr>

<tr>
<td>
  <p
    class="text"
    style="color: #6a7282; text-align: center; margin-top: 20px"
  >
    For any feedback or inquiries, get in touch with
  </p>
  <p class="text" style="color: #6a7282; text-align: center">
    us at <span style="color: #04a76c">admin@pcnticket.com</span>
  </p>
  <p class="text" style="color: #6a7282; text-align: center">
    Copyright © PCNTicket. 2025 All rights reserved.
  </p>
</td>
</tr>
<tr>
<table style="text-align: center;  margin: 10px auto;">
  <tr style="text-align: center;">
    <td>
      <a href="https://www.facebook.com/pcntickets">
        <img
          width="32"
          height="32"
          src="https://pcnticket1.s3.us-east-1.amazonaws.com/Frame+1000002153.png"
        />
      </a>
    </td>

    <td>
      <a href="#">
        <img
          width="32"
          height="32"
          src="https://pcnticket1.s3.us-east-1.amazonaws.com/Frame+1000002154.png"
        />
      </a>
    </td>

    <td>
      <a href="https://www.instagram.com/pcnticket?igsh=eGlwaWh4M3Q0MWU4">
        <img
          width="32"
          height="32"
          src="https://pcnticket1.s3.us-east-1.amazonaws.com/Frame+1000002155.png"
        />
      </a>
    </td>
  </tr>
</table>
</tr>
</table>
</center>
</body>
</html>
