{% include "emails/helpers/header.html"%}

<!-- Hero Section -->
<tr>
  <td style="padding: 0">
    <table
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
      class="hero-section"
    >
      <tr>
        <!-- Right Column - Hero image and text -->
        <td class="hero-right" width="100%" valign="top" style="padding: 0">
          <!-- Right Column Text -->
          <table
            role="presentation"
            cellspacing="0"
            cellpadding="0"
            border="0"
            width="100%"
          >
            <tr>
              <td style="padding: 20px">
                <h2
                  style="
                    margin: 0 0 15px 0;
                    color: #333333;
                    font-size: 16px;
                    font-weight: normal;
                  "
                >
                  <strong>Hello {{ user.full_name }},</strong>
                </h2>

                <p>
                 We’re excited to offer you an exclusive deal: Get your first PCN Cover with 20% off! Don’t let parking tickets ruin your day. Get peace of mind now.This offer expires soon! 
                </p>
                <div style="text-align: center;">User code: <strong><span style="font-size: 16px;">PCN05</span></strong></div>

                <!-- CTA Button -->
                <table
                  role="presentation"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  style="margin: 20px 0"
                  class="cta-table"
                >
                  <tr align="center">
                    <td
                      style="
                        background-color: #333333;
                        border-radius: 6px;
                        text-align: center;
                      "
                    >
                      <a
                        href="https://www.pcnticket.com/pricing"
                        style="
                          display: inline-block;
                          padding: 12px 24px;
                          color: #ffffff;
                          text-decoration: none;
                          font-size: 14px;
                          font-weight: bold;
                        "
                        >Claim Your Discount</a
                      >
                    </td>
                  </tr>
                </table>

                <p
                  style="
                    margin: 15px 0 0 0;
                    line-height: 1.5;
                    font-size: 14px;
                  "
                >
                  <strong>Best regards,</strong>
                  <br />
                  <strong style="color: #333333">The PCN Team</strong>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% include "emails/helpers/footer.html"%}
