{%include "emails/helpers/header.html" %}
<tr width="100%">
  <td style="padding: 20px">
    <p class="text">Hello {{ name }}</p>

    <p class="text">
        We are not able to process the ticket you uploaded.
    </p>

    <div>
        <p class="text">This could be because of any of the reasons below:</p>
        <p class="text">1. Ticket must not be uploaded more than 2 days from the date of issue.</p>
        <p class="text">2. Reg number of the ticket you uploaded is not covered by your plan.</p>
        <p class="text">
          3. Penalty charges resulting from criminal violations (e.g., reckless driving, driving under influence)
        </p>

        <p class="text">
          4.The violation was issued before the membership began
        </p>
      </div>
      <p>For more information, please refer to our terms and conditions.</p>


    <div style="background: #e6fef2; padding: 20px; border-radius: 8px">
      <div>
        <p class="smallText">Parking Charge Number</p>
        <p class="text" style="margin-top: -13px">
          RG-{{ ticket.id }}/{{ ticket.vehicle.id }}
        </p>
      </div>

      <div style="margin-top: 20px">
        <p class="smallText">Vehicle Registration</p>
        <p class="text" style="margin-top: -13px">
          {{ ticket.vehicle.vehicle_number }}
        </p>
      </div>

      <div style="margin-top: 20px">
        <p class="smallText">Date of Notice</p>
        <p class="text" style="margin-top: -13px">
          {{ ticket.date_of_notice|date:"d/m/Y"}}
        </p>
      </div>

      <div style="margin-top: 20px">
        <p class="smallText">Amount</p>
        <p class="text" style="margin-top: -13px">£{{ ticket.amount }}</p>
      </div>

      <div style="margin-top: 20px">
        <p class="smallText">Status</p>
        <p class="text" style="margin-top: -13px">Declined</p>
      </div>
    </div>

   
    <p class="text">Best regards,</p>
    <p class="text" style="margin-top: -13px">The PCN Team</p>
  </td>
</tr>

{%include "emails/helpers/footer.html" %}
