{%include "emails/helpers/header.html" %}
<tr width="100%">
    <td style="padding: 20px">
      <p class="text">Hello {{ name }} </p>
      <h3 class="text" style="font-size: 20px; font-weight: bolder;">We are processing your ticket payment</h3>
      <p class="text">We have received your ticket request and are currently processing it. Please find the details below:</p>
      <div style="background: #e6fef2;padding: 20px; border-radius: 8px;">
        <div>
          <p class="smallText">Parking Charge Number</p>
          <p class="text" style="margin-top: -13px">RG-{{ ticket.id }}/{{ ticket.vehicle.id }}</p>
        </div>

        <div style="margin-top: 20px">
          <p class="smallText">Vehicle Registration</p>
          <p class="text" style="margin-top: -13px">{{ ticket.vehicle.vehicle_number }}</p>
        </div>

        <div style="margin-top: 20px">
          <p class="smallText">Date of Notice</p>
          <p class="text" style="margin-top: -13px">{{ ticket.date_of_notice|date:"d/m/Y"}}</p>
        </div>

        <div style="margin-top: 20px">
          <p class="smallText">Amount</p>
          <p class="text" style="margin-top: -13px">£{{ ticket.amount }}</p>
        </div>

        <div style="margin-top: 20px">
          <p class="smallText">Status</p>
          <p class="text" style="margin-top: -13px">Processing</p>
        </div>
      </div>

      <p class="text">We are working to process this payment, payment will be processed in 24-36 hours</p>
      <p class="text">Best regards,</p>
      <p class="text" style="margin-top: -13px;">The PCN Team</p>
    </td>
  </tr>

{%include "emails/helpers/footer.html" %}
