{%include "emails/helpers/header.html" %}
<tr width="100%">
  <td style="padding: 20px">
    <p class="text">Hi {{ name|strip }},</p>

    <p class="text">
      We're thrilled to have you on board.
      
    </p>
    <p class="text">
      With our parking ticket fine cover, you can drive worry-free, knowing that
      we’ve got your back. <br />
      Here’s how to get started:
    </p>
    <div>
      <p class="text">1. Log in to your account</p>
      <p class="text">2. Buy a cover</p>
      <p class="text">
        3. Submit ticket information: When you get a parking or penalty ticket,
        simply take a pciture and upload it on our platform
      </p>
      <p class="text">4.We will sort the ticket for you</p>
    </div>

    <p class="text">
      If you have any questions, our support team is here to help. Simply
      contact us using the details on our contact us page.
      
    </p>
    <p class="text">
      Thank you for trusting
      PCNTicket. We’re excited to make your driving experience smoother and more
      confident!
    </p>
  </td>
</tr>

{%include "emails/helpers/footer.html" %}
